@page "/"

<h2>Desenvolvimento de Sistemas de Informação</h2>

<div class="alert alert-secondary text-center" role="alert">
  <h3 class="alert-heading">Zoológico Blazor</h3>
  <p>
    Aplicação CRUD com .NET/C# com frontend em Blazor e blackend com ASP .NET Core usando Autenticação
  </p>
  <hr>
  <p class="mb-0">Novembro/2020</p>
</div>