@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        Olá, @context.User.Identity.Name!

        <NavLink class="nav-link" href="LogOut" Match="NavLinkMatch.All">
            <span class="oi oi-account-logout " aria-hidden="true"></span> Sair
        </NavLink>

    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="Register" Match="NavLinkMatch.All">
            <span class="oi oi-plus" aria-hidden="true"></span> Cadastrar
        </NavLink>

        <NavLink class="nav-link" href="Login" Match="NavLinkMatch.All">
            <span class="oi oi-person" aria-hidden="true"></span> Entrar
        </NavLink>
    </NotAuthorized>
</AuthorizeView>